{% extends 'cl/base.html'%}
{% block content %}
  {% if cl_list %}
  <form action="{% url 'cl:results' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-7">
        <input class="form-control" id="clSearch" type="text" placeholder="Search for lenses.." autofocus>
          <table class="table table-hover table-sm table-bordered">
            <thead>
              <tr>
                <th>Contact Lens</th>
                <th class="text-center">Right Eye</th>
                <th class="text-center">Left Eye</th>
              </tr>
            </thead>
            <tbody id="Choices">
              {% for cl in cl_list %}
              <tr>
                <td>
                  <div
                    class="form-check-label"
                    href="#" data-html="true"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="bottom"
                    title="{{ cl.clens }}"
                    data-content="
                      <ul class=list-group>
                        <li class=list-group-item>${{ cl.cost_per_package }} per package.</li>
                        <li class=list-group-item>{{ cl.num_year_supply }} pack(s) per eye for a year supply.</li>
                        <li class=list-group-item>${{ cl.ys }} year supply for both eyes.</li>
                      </ul>
                    "
                  >{{ cl.clens }}</div>
                  <div style="display:none;">{% if cl.has_rebate %}{{ cl.has_rebate }} {% endif %}{% for a in cl.contactattribute_set.all %}{{ a.attribute }} {% endfor %}
                  </div>
                </td>
                <td class="text-center"><input class="custom-radio" type="radio" name="od_cl" value="{{ cl.id }}" required></td>
                <td class="text-center"><input class="custom-radio" type="radio" name="os_cl" value="{{ cl.id }}" required></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="col-5">
        <div class="form-group">
          <label for="cl_service_amt">Contact Lens Eval/Service:</label>
          <input class="form-control" type="number" name="cl_service_amt" value="{{ def_amts.def_cl_service_amt }}" required>
        </div>
        <div class="form-group">
          <label for="exam_amt">Exam Amount (or benefit copay):</label>
          <input class="form-control" type="number" name="exam_amt" value="{{ def_amts.def_exam_amt }}" required>
        </div>
        <div class="form-group">
          <label for="benefit_amt">3rd Party Benefit Amount:</label>
          <input class="form-control" type="number" name="benefit_amt" value="{{ def_amts.def_benefit_amt }}" required>
        </div>
        <div class="form-group">
          <label for="exam_dt">Date of Sale:</label>
          <input class="form-control" type="date" name="exam_dt" value="{{ cur_dt }}" required>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="calculate">Calculate</button>
      </div>
    </div>
  </form>
  {% else %}
    <p>No cls in list</p>
  {% endif %}
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
  $('#clSearch').on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $('#Choices tr').filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
