{% extends 'cl/base.html'%}
{% block content %}
  {% if cl_list %}
  <form action="{% url 'cl:results' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        <input class="form-control" id="myInput" type="text" placeholder="Search for lenses.." onkeyup="filterLenses()" autofocus>
        <div style="display: block; max-height: 350px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">
          <table class="table table-hover table-sm table-bordered">
            <thead>
              <tr>
                <th>Contact Lens</th>
                <th class="text-center">Right Eye</th>
                <th class="text-center">Left Eye</th>
              </tr>
            </thead>
            <tbody id="Choices">
              {% for cl in cl_list %}
              <tr>
                <td><div class="form-check-label">{{ cl.clens }}</div> <div style="display:none;">{{ cl.has_rebate }} {% for a in cl.contactattribute_set.all %}{{ a.attribute }} {% endfor %}</div></td>
                <td class="text-center"><input class="custom-radio" type="radio" name="od_cl" value="{{ cl.id }}" onclick="od_clicked()""></td>
                <td class="text-center"><input class="custom-radio" type="radio" name="os_cl" value="{{ cl.id }}" onclick="os_clicked()"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="cl_service_amt">Contact Lens Eval/Service</label>
          <input class="form-control" type="number" name="cl_service_amt" value="60.00">
        </div>
        <div class="form-group">
          <label for="exam_amt">Exam Amount (or benefit copay)</label>
          <input class="form-control" type="number" name="exam_amt" value="150.00">
        </div>
        <div class="form-group">
          <label for="benefit_amt">3rd Party Benefit Amount</label>
          <input class="form-control" type="number" name="benefit_amt" value="0.00">
        </div>
        <div class="form-group">
          <label for="exam_dt">Date of Sale:</label>
          <input class="form-control" type="date" name="exam_dt" value="{{ cur_dt }}" required>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="calculate" disabled>Calculate</button>
      </div>
    </div>
  </form>
  {% else %}
    <p>No cls in list</p>
  {% endif %}
{% endblock %}
{% block script %}
<script>
var od_selected=false, os_selected=false;
function act_calculate() {
  if (od_selected && os_selected) {
    document.getElementById("calculate").disabled = false;
  }
}
function od_clicked() {
  od_selected=true;
  act_calculate();
}
function os_clicked() {
  os_selected=true;
  act_calculate();
}
function filterLenses() {
    var input, filter, div, option, e, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("Choices");
    option = div.getElementsByTagName("tr");
    for (i = 0; i < option.length; i++) {
      if (option[i].innerHTML.toUpperCase().indexOf(filter) > -1 ) {
        option[i].style.display = "";
      } else {
        option[i].style.display = "none";
      }
    }
}
</script>
{% endblock %}
